astroid==2.4.2
click==7.1.2
dnspython==2.1.0
Flask==1.1.2
isort==5.7.0
itsdangerous==1.1.0
Jinja2==2.11.3
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pylint==2.6.2
pylint-quotes==0.2.1
python-ldap==3.3.1
six==1.15.0
srvlookup==2.0.0
toml==0.10.2
Werkzeug==1.0.1
wrapt==1.12.1
